* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h3 {
  margin: 10px;
}

body {
  height: 100vh;
  background-color: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section#score {
  display: none;
  margin-right: 100px;
}

#board {
  display: none;
  width: 600px;
  height: 600px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px lightgray;
}

#board > div {
  border: 1px solid rgb(255, 208, 0);
  box-shadow: 1px 1px 5px 1px rgb(255, 188, 5);
  float: left;
  width: 60px;
  height: 60px;
}

section#score div {
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: top;
  width: 10em;
  height: 10em;
  font-size: 22px;
  text-align: center;
  padding: 0.5em;
  background-color: #ffc300;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}

.furry {
  background-image: url("../images/furry.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.coin {
  background-image: url("../images/coin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#over {
  display: none;
  font-family: "Permanent Marker", cursive;
  flex-direction: column;
  color: black;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 400px;
  padding: 10px;
  background-color: red;
  border: 1px solid #c9d847;
  box-shadow: 1px 1px 5px 1px lightgray;
  border-radius: 20px;
}
#over div,
#start div {
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  font-size: 22px;
  text-align: center;
  padding: 0.5em;
  background-color: #ffc300;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}

button {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  width: 260px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 22px;
  background-color: #ffc300;
  box-shadow: 1px 1px 5px 1px black;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 208, 0);
  box-shadow: 1px 1px 5px 1px rgb(255, 188, 5);
}
